}

font-family: 'Open Sans;', sans-sherif;
background-image :  url("https://img.freepik.com/free-vector/minimal-geometric-stripe-shape-background_1409-1014.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
}

p

{
	color: white;
}

i

{
	color: white;
}

h1

{
	color: white;
}

h2

{
	color: white;
}

body

{


a

{
	color: white;
}

h3

{
	color: white;

